In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
#read data
movies = pd.read_csv("C:/Users/Lenovo/Downloads/friends.csv")
type(movies)

pandas.core.frame.DataFrame

In [6]:
# Display the first few rows of the dataset
print("First few rows of the dataset:")
movies.head()

First few rows of the dataset:

,fname,lname,age_gender,section,height(cm),weight(kg),age,spend_A,spend_B,spend_C
0,Rahul,Pandey,37_M,B,175.4,85.6,37,1500.0,200.0,300
1,Rakesh,Kumar,38_M,B,xx,NaN,38,NaN,1000.0,NaN
2,Nitesh,Mondol,35_M,B,165.1,?,35,500.0,-100.0,200
3,Arvind,Dwivedi,40_M,A,0,55.6,40,300.0,300.0,xx
4,Nikhil,Shikharwar,39_M,B,160.8,160,39,200.0,NaN,300

In [9]:
# data cleaning

# Step 1: Handling missing values (drop or fill with mean/median)
print("\nMissing values in the dataset:")

movies.isnull().sum()

Missing values in the dataset:

fname         0
lname         0
age_gender    0
section       0
height(cm)    1
weight(kg)    1
age           0
spend_A       2
spend_B       1
spend_C       3
dtype: int64

In [13]:
# Drop rows with missing values
movies_cleaned = movies.dropna()

# Alternative: Fill missing values (for numeric columns)
# df_cleaned = movies.fillna(df.mean())

In [14]:
print("\nDataset after handling missing values:")
movies_cleaned.head()

Dataset after handling missing values:

,fname,lname,age_gender,section,height(cm),weight(kg),age,spend_A,spend_B,spend_C
0,Rahul,Pandey,37_M,B,175.4,85.6,37,1500.0,200.0,300
2,Nitesh,Mondol,35_M,B,165.1,?,35,500.0,-100.0,200
3,Arvind,Dwivedi,40_M,A,0,55.6,40,300.0,300.0,xx
8,Swadesh,Kumar,36_M,C,154.2,60.6,36,100.0,200.0,300
9,Arun,Vishwakarma,38_M,A,162.1,58.7,38,600.0,200.0,200

In [ ]:
# Step 2: Removing outliers using the Z-score method

# Define a function to remove outliers based on the Z-score
def remove_outliers_zscore(data, threshold=3):
    zscores = np.abs(stats.zscore(data.select_dtypes(include=[np.number])))
    return data[(zscores < threshold).all(axis=1)]

# Apply the function
movies_no_outliers = remove_outliers_zscore(movies_cleaned)

print("\nDataset after removing outliers:")
print(movies_no_outliers.head())

In [ ]:
# Step 3: Removing outliers using IQR method (optional alternative)
def remove_outliers_iqr(data, factor=1.5):
    # Select only numeric columns for IQR calculation
    numeric_data = data.select_dtypes(include=[np.number])
    
    Q1 = numeric_data.quantile(0.25)
    Q3 = numeric_data.quantile(0.75)
    IQR = Q3 - Q1
    
    # Filter out rows that are outliers based on IQR
    filtered_data = numeric_data[~((numeric_data < (Q1 - factor * IQR)) | 
                                   (numeric_data > (Q3 + factor * IQR))).any(axis=1)]
    
    # Return the original data but without rows identified as outliers in numeric columns
    return data.loc[filtered_data.index]

# Apply the function
movies_no_outliers_iqr = remove_outliers_iqr(movies_cleaned)

# Print the results
print("\nDataset after removing outliers using IQR:")
print(movies_no_outliers_iqr.head())

In [16]:
# You can now proceed with further analysis on movies_no_outliers or movies_no_outliers_iqr

def remove_outliers_zscore(data, threshold=3):
    zscores = np.abs(stats.zscore(data.select_dtypes(include=[np.number])))
    return data[(zscores < threshold).all(axis=1)]

In [ ]:
#1. remove_outliers_zscore, removes outliers using the Z-score method.

#2. stats.zscore() calculates Z-scores for numeric columns (ignoring non-numeric columns). A
# Z-score represents the number of standard deviations a data point is from the mean.

#3. The absolute Z-scores (np.abs()) are compared to the threshold value of 3. Data points
# with Z-scores greater than 3 are considered outliers.

#4. (z_scores < threshold).all(axis=1) filters out rows where all Z-scores are within the
# threshold (less than 3). Rows with outliers are removed.

In [ ]:
movies_no_outliers = remove_outliers_zscore(movies_cleaned)
print("\nDataset after removing outliers:")
print(movies_no_outliers.head())

In [ ]:
#remove_outliers_zscore(movies_cleaned) applies the Z-score outlier removal function to
#the cleaned dataset (movies_cleaned) and assigns the result to movies_no_outliers. The updated
#dataset is then printed.

In [ ]:
movies_no_outliers_iqr = remove_outliers_iqr(movies_cleaned)
print("\nDataset after removing outliers using IQR:")
print(movies_no_outliers_iqr.head())